<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
 
<div class="container border m-4">
    <h1>Inloggen</h1> <br>
    Om deze website te gebruiken moet je inloggen! Daarom ben je waarschijnlijk naar deze pagina gestuurd!
        <form class="p-4" action={% url 'login' %} method="post">
            {% csrf_token %}
            <div class="form-floating">
                <input class="form-control" type="text" name="username" id="username"> <br>
                <label for="username">Gebruikersnaam</label>
            </div>
            <div class="form-floating">
                <input class="form-control" type="password" name="password" id="password"> <br>
                <label for="password">Wachtwoord</label>
            </div>
            <button class="btn btn-primary" type="submit">Inloggen</button>
            <a class="btn btn-primary" href={% url 'register' %}>Account aanmaken</a>
        </form>
</div>
{% endblock content %}


