{% extends 'base.html' %}

{% block content %}  
<div class = "login">  
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

        <h1>Account aanmaken</h1>
        <form action={% url 'register' %} method="post">
            {% csrf_token %}
            Gebruikersnaam:
            <input type="text" name="username" id="username"> <br>
            Wachtwoord:
            <input type="password" name="password1" id="password1"> <br>
            Wachtwoord Herhalen:
            <input type="password" name="password2" id="password2"> <br>
            <button type="submit">Account aanmaken</button>
        </form>
        <p>Als je al een account heb kan je hier <a href={% url 'login' %}>inloggen</a></p>
     </div>  
  
{% endblock content %}  