{% extends 'base.html' %}

{% block content %}  

<div class="container border m-4">
    <h1>Account aanmaken</h1>
        <form class="p-4" action={% url 'register' %} method="post">
            {% csrf_token %}
            <label for="username" class="form-label">Gebruikersnaam</label>
            <input class="form-control" type="text" name="username" id="username"> <br>

            <label for="password1" class="form-label">Wachtwoord (Minimaal 4 tekens)</label>
            <input class="form-control" type="password" name="password1" id="password1"> <br>

            <label for="password2" class="form-label">Wachtwoord herhalen</label>
            <input class="form-control" type="password" name="password2" id="password2"> <br>

            <button class="btn btn-primary" type="submit">Account aanmaken</button>
            <a class="btn btn-primary" href={% url 'login' %}>Ik wil Inloggen</a>
        </form>
</div>

{% endblock content %}  